body {
    font-family: system-ui, sans-serif;
    background-color:black;
    color: white;
    }


table{
    margin-top:3%;
    margin-left: 1%;
    border: 1px solid white;
}

th{
    border: 1px solid white;
    padding: 5px;;
}

td{
    border: 1px solid white;
    padding: 5px;
}

thead{
    margin-top: 50px;
    padding: 5px;
}

.the-force{
    padding: 8px;
}


select{
    border-color: blue;
    border-style:double;
    border-width: 4px;
}

span{
    width: 70%;
}